<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="userDtl">
    <div class="popup dtl" style="display: none;">
        <div class="tit"><span>이용자 정보 조회</span>
            <button class="x-btn" onclick="popClose('.dtl')"></button>
        </div>
        <div class="container">
            <div class="result-container mgb30">
                <form id="dtl-form">
                    <table>
                        <tr>
                            <th>유형</th>
                            <td>
                                <span id="dtl-typeNm"></span>
                            </td>
                            <th>상태</th>
                            <td>
                                <span id="dtl-stts"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>소속명</th>
                            <td>
                                <span id="dtl-orgNm"></span>
                            </td>
                            <th>이용자명</th>
                            <td>
                                <span id="dtl-userNm"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td>
                                <span id="dtl-userId"></span>
                            </td>
                            <th>패스워드</th>
                            <td>
                                <div>
                                    <input type="text" class="form-control-sm" id="dtl-passwd" name="passwd">
                                    <button th:type="button" class="btn blue" id="btnGenPw" th:onclick="generatePasswd('dtl-passwd')">자동 생성</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td>
                                <input type="text" id="dtl-telNo1" class="form-control-sm" style="width:75px;">
                                -
                                <input type="text" id="dtl-telNo2" class="form-control-sm" style="width:75px;">
                                -
                                <input type="text" id="dtl-telNo3" class="form-control-sm" style="width:75px;">
                            </td>
                            <th>이메일</th>
                            <td>
                                <input type="text" class="form-control-sm" id="dtl-emailAddr1">
                                @
                                <input type="text" class="form-control-sm" id="dtl-emailAddr2">
                            </td>
                        </tr>
                        <tr>
                            <th>이용시작시간</th>
                            <td>
                                <div>
                                    <input type="text"
                                           class="form-control-sm dtpk mgr5"
                                           id="dtl-startDate">
                                    <select id="dtl-startHour" class="form-select-sm mgr5">
                                        <option th:each="hour : ${#numbers.sequence(0, 23)}"
                                                th:value="${hour < 10 ? '0' + hour : hour}"
                                                th:text="${hour < 10 ? '0' + hour : hour}"></option>
                                    </select>
                                    <strong style="padding: 3px 0; margin-right: 5px;">:</strong>
                                    <select id="dtl-startMin" class="form-select-sm mgr5">
                                        <option th:each="min : ${#numbers.sequence(0, 59)}"
                                                th:value="${min < 10 ? '0' + min : min}"
                                                th:text="${min < 10 ? '0' + min : min}"></option>
                                    </select>
                                </div>
                            </td>
                            <th>이용종료시간</th>
                            <td><div>
                                <input type="text"
                                       class="form-control-sm dtpk mgr5"
                                       id="dtl-endDate">
                                <select id="dtl-endHour" class="form-select-sm mgr5">
                                    <option th:each="hour : ${#numbers.sequence(0, 23)}"
                                            th:value="${hour < 10 ? '0' + hour : hour}"
                                            th:text="${hour < 10 ? '0' + hour : hour}"></option>
                                </select>
                                <strong style="padding: 3px 0; margin-right: 5px;">:</strong>
                                <select id="dtl-endMin" class="form-select-sm mgr5">
                                    <option th:each="min : ${#numbers.sequence(0, 59)}"
                                            th:value="${min < 10 ? '0' + min : min}"
                                            th:text="${min < 10 ? '0' + min : min}"></option>
                                </select>
                            </div></td>
                        </tr>
                        <tr>
                            <th>이용목적</th>
                            <td colspan="3">
                                <textarea id="dtl-purpose" name="purpose" rows="2"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>신청방법</th>
                            <td>
                                <span id="dtl-reqType"></span>
                            </td>
                            <th>신청일시</th>
                            <td>
                                <span id="dtl-reqDtm"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>등록관리자</th>
                            <td>
                                <span id="dtl-createId"></span>
                            </td>
                            <th>등록일시</th>
                            <td>
                                <span id="dtl-createDtm"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>로그인횟수</th>
                            <td>
                                <span id="dtl-loginCnt"></span>
                            </td>
                            <th>최종로그인일시</th>
                            <td>
                                <span id="dtl-loginDtm"></span>
                            </td>
                        </tr>
                        <tr class="stop-tr tr-1">
                            <th>이용정지관리자</th>
                            <td>
                                <span id="dtl-stopId"></span>
                            </td>
                            <th>이용정지일시</th>
                            <td>
                                <span id="dtl-stopDtm"></span>
                            </td>
                        </tr>
                        <tr class="stop-tr tr-2">
                            <th>이용정지사유</th>
                            <td colspan="3">
                                <textarea rows="1" id="dtl-stopReason"></textarea>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="btn-box-bottom mgt30">
                <button type="button" class="btn blue mgr10" id="dtl-btnModify" style="display: none;">수정</button>
                <button type="button" class="btn blue mgr10" id="dtl-btnStop" style="display: none;">이용 정지</button>
                <button type="button" class="btn blue mgr10" id="dtl-btnRestart" style="display: none;">정지 해제</button>
                <button type="button" class="btn gray" id="dtl-btnCancel">닫기</button>
            </div>
        </div>
    </div>
</th:block>
</html>