<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nobiz.aics_u.repository.mapper.CodeMapper">
    <select id="selectAllCode" resultType="code">
        select code, code_grp, code_text, ord, use_yn
        from tb_code
        where use_yn = 'Y'
        order by code_grp, ord
    </select>

</mapper>