@charset "utf-8";

/* 폰트정의 (pretendard) */
@font-face {
    font-family: 'pretendard';
    src: url('../font/pretendard-bold.woff2') format('woff2'),
    url('../font/pretendard-bold.woff') format('woff'),
    url('../font/pretendard-bold.ttf') format('truetype');
    font-weight: 600;
    /* font-style: bold; */
}

@font-face {
    font-family: 'pretendard';
    src: url('../font/pretendard-medium.woff2') format('woff2'),
    url('../font/pretendard-medium.woff') format('woff'),
    url('../font/pretendard-medium.ttf') format('truetype');
    font-weight: 500;
    /* font-style: normal; */
}

@font-face {
    font-family: 'pretendard';
    src: url('../font/pretendard-regular.woff2') format('woff2'),
    url('../font/pretendard-regular.woff') format('woff'),
    url('../font/pretendard-regular.ttf') format('truetype');
    font-weight: 400;
    /* font-style: normal; */
}

@font-face {
    font-family: 'pretendard';
    src: url('../font/pretendard-thin.woff2') format('woff2'),
    url('../font/pretendard-thin.woff') format('woff'),
    url('../font/pretendard-thin.ttf') format('truetype');
    font-weight: 300;
    /* font-style: thin; */
}

/* 폰트정의 (G마켓 산스) */
@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSansBold.woff') format('woff');
    font-weight: 600;
    /* font-style: bold; */
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    /* font-style: normal; */
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSansLight.woff') format('woff');
    font-weight: 400;
    /* font-style: light; */
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

html {
    border: 0;
}

body {
    color: #232327;
    position: relative;
    letter-spacing: -0.06em;
    border: 0;
}

/*
body,input,textarea,select,button, p, span {text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:'liga', 'kern'} 웹폰트 anti-aliasing */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

legend {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    line-height: 0;
}

hr {
    display: none;
}

img,
fieldset,
input.image {
    border: 0 none;
}

ul,
ol,
li {
    list-style: none outside;
}

input,
select,
button,
textarea {
    vertical-align: baseline;
    font-family: inherit;
    color: #555;
}

button {
    border: 0;
}

input {
    outline: none;
}

/*
select {
    cursor:pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}*/

/* 표준브라우저의 네이티브 화살표 숨기기 */
select {
    -webkit-appearance: none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

address,
em {
    font-style: normal;
}

/*.hidden {visibility:hidden; width:0; height:0; overflow:hidden; position:absolute; top:-10000px; line-height:0;}*/
.text_hidden {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

input,
a,
strong,
span,
label,
em,
select {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}

div,
p,
ul,
ol,
li,
textarea {
    display: block;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 링크 정의 */
a {
    color: #232327;
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: #232327;
}

a:visited {
    color: #232327;
}

a:hover {
    color: #232327;
}

/* 단어 단위 줄바꿈 */
* {
    word-break: keep-all;
}

/* 테이블 기본 정의 */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    table-layout: fixed;
    word-break: break-all;
}

table th {
    font-weight: normal;
}

caption {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
}

th,
td {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

/* 내용 말줄임표로 줄이기 */
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis.multiline {
    white-space: normal;
}

/* html5 요소 block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* ------------------------------------------- 스크롤 start */

.scroll {
    position: relative;
    /* background: url('../images/common/bg_scroll.png') 100% 0 repeat-y; */
    padding-right: 5px
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d8d8d8
}

::-webkit-scrollbar-button {
    width: 5px;
    height: 10px;
    background-color: transparent;
}

/* ------------------------------------------- 스크롤 end */

/* 간격 */
hr[class*=space] {
    display: block;
    background: none;
}
hr.space10 {
    margin:5px 0;
}
hr.space20 {
    margin:10px 0;
}
hr.space30 {
    margin:15px 0;
}
hr.space40 {
    margin:20px 0;
}
hr.space50 {
    margin:25px 0;
}
hr.space60 {
    margin:30px 0;
}
hr.space70 {
    margin:35px 0;
}
hr.space80 {
    margin:40px 0;
}
hr.space90 {
    margin:45px 0;
}
hr.space100 {
    margin:50px 0;
}

/* 취소 클래스 */
.f-lft {
    float: left !important;
}

.f-rgt {
    float: right !important;
}

.f-none {
    float: none !important;
}

.clear {
    clear: both !important;
}

.t-lft {
    text-align: left !important;
}

.t-ctr {
    text-align: center !important;
}

.t-rgt {
    text-align: right !important;
}

.no-bg {
    background-image: none !important;
}

.no-ml {
    margin-left: 0 !important;
}

.no-mr {
    margin-right: 0 !important;
}

.no-pl {
    padding-left: 0 !important;
}

.no-pr {
    padding-right: 0 !important;
}

.no-pr {
    padding-right: 0 !important;
}

.no-text {
    font-size: 0px !important;
    line-height: 0px !important;
    text-indent: -9999px !important;
}

/* 간격 */
.mgt0 {
    margin-top: 0px !important;
}

.mgt5 {
    margin-top: 5px !important;
}

.mgt10 {
    margin-top: 10px !important;
}

.mgt15 {
    margin-top: 15px !important;
}

.mgt20 {
    margin-top: 20px !important;
}

.mgt30 {
    margin-top: 30px !important;
}

.mgt40 {
    margin-top: 40px !important;
}

.mgt50 {
    margin-top: 50px !important;
}

.mgt60 {
    margin-top: 60px !important;
}

.mgt70 {
    margin-top: 70px !important;
}

.mgt80 {
    margin-top: 80px !important;
}

.mgb0 {
    margin-bottom: 0px !important;
}

.mgb5 {
    margin-bottom: 5px !important;
}

.mgb10 {
    margin-bottom: 10px !important;
}

.mgb15 {
    margin-bottom: 15px !important;
}

.mgb20 {
    margin-bottom: 20px !important;
}

.mgb30 {
    margin-bottom: 30px !important;
}

.mgb40 {
    margin-bottom: 40px !important;
}

.mgb50 {
    margin-bottom: 50px !important;
}

.mgb60 {
    margin-bottom: 60px !important;
}

.mgb70 {
    margin-bottom: 70px !important;
}

.mgb80 {
    margin-bottom: 80px !important;
}

.mgr0 {
    margin-right: 0px !important;
}

.mgr5 {
    margin-right: 5px !important;
}

.mgr10 {
    margin-right: 10px !important;
}

.mgr15 {
    margin-right: 15px !important;
}

.mgr20 {
    margin-right: 20px !important;
}

.mgr30 {
    margin-right: 30px !important;
}

.mgr40 {
    margin-right: 40px !important;
}

.mgr50 {
    margin-right: 50px !important;
}

.mgr60 {
    margin-right: 60px !important;
}

.mgl0 {
    margin-left: 0px !important;
}

.mgl5 {
    margin-left: 5px !important;
}

.mgl10 {
    margin-left: 10px !important;
}

.mgl15 {
    margin-left: 15px !important;
}

.mgl20 {
    margin-left: 20px !important;
}

.mgl30 {
    margin-left: 30px !important;
}

.mgl40 {
    margin-left: 40px !important;
}

.mgl50 {
    margin-left: 50px !important;
}

.mgl60 {
    margin-left: 60px !important;
}

.pdt0 {
    padding-top: 0px !important;
}

.pdt5 {
    padding-top: 5px !important;
}

.pdt10 {
    padding-top: 10px !important;
}

.pdt15 {
    padding-top: 15px !important;
}

.pdt20 {
    padding-top: 20px !important;
}

.pdt30 {
    padding-top: 30px !important;
}

.pdt40 {
    padding-top: 40px !important;
}

.pdt50 {
    padding-top: 50px !important;
}

.pdt60 {
    padding-top: 60px !important;
}

.pdt70 {
    padding-top: 70px !important;
}

.pdt80 {
    padding-top: 80px !important;
}

.pdb0 {
    padding-bottom: 0px !important;
}

.pdb5 {
    padding-bottom: 5px !important;
}

.pdb10 {
    padding-bottom: 10px !important;
}

.pdb15 {
    padding-bottom: 15px !important;
}

.pdb20 {
    padding-bottom: 20px !important;
}

.pdb30 {
    padding-bottom: 30px !important;
}

.pdb40 {
    padding-bottom: 40px !important;
}

.pdb50 {
    padding-bottom: 50px !important;
}

.pdb60 {
    padding-bottom: 60px !important;
}

.pdb70 {
    padding-bottom: 70px !important;
}

.pdb80 {
    padding-bottom: 80px !important;
}

.pdr0 {
    padding-right: 0px !important;
}

.pdr5 {
    padding-right: 5px !important;
}

.pdr10 {
    padding-right: 10px !important;
}

.pdr15 {
    padding-right: 15px !important;
}

.pdr20 {
    padding-right: 20px !important;
}

.pdr30 {
    padding-right: 30px !important;
}

.pdr40 {
    padding-right: 40px !important;
}

.pdr50 {
    padding-right: 50px !important;
}

.pdr60 {
    padding-right: 60px !important;
}

.pdl0 {
    padding-left: 0px !important;
}

.pdl5 {
    padding-left: 5px !important;
}

.pdl10 {
    padding-left: 10px !important;
}

.pdl15 {
    padding-left: 15px !important;
}

.pdl20 {
    padding-left: 20px !important;
}

.pdl30 {
    padding-left: 30px !important;
}

.pdl40 {
    padding-left: 40px !important;
}

.pdl50 {
    padding-left: 50px !important;
}

.pdl60 {
    padding-left: 60px !important;
}