@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

/* bootstrap reset */
.breadcrumb {
  margin-bottom: 0;
}

/* form */
input,
select,
textarea,
.numeric-input,
.file-upload {
  height: 26px;
  line-height: 24px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #c7c7c7;
  font-size: .8em;
  padding: 0 10px;
  transition: all 0.3s;
}

input{
  padding: 0;
}

input:hover,
select:hover,
textarea:hover,
.numeric-input:hover,
.file-upload:hover,
input:focus,
select:focus,
textarea:focus,
.numeric-input:focus,
.file-upload:hover {
  border-color: #71a2e8 !important;
}

select {
  cursor: pointer;
  padding-right: 24px;
}

input:read-only {
  background-color: #fff;
}

iframe {
  border: 0;
  overflow: auto;
}

*::placeholder {
  color: rgba(35, 35, 39, 0.35);
  font-weight: 400;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  min-height: 80px;
  padding: 10px 12px;
  font-size: .933em;
}

button {
  cursor: pointer;
}

embed {
  pointer-events: none;
}

/* 취소 클래스 */
.f-lft {
  float: left !important;
}

.f-rgt {
  float: right !important;
}

.clear {
  clear: both !important;
}

.t-lft {
  text-align: left !important;
}

.t-ctr {
  text-align: center !important;
}

.t-rgt {
  text-align: right !important;
}

.no-bg {
  background-image: none !important;
}

.no-ml {
  margin-left: 0 !important;
}

.no-mr {
  margin-right: 0 !important;
}

.no-pl {
  padding-left: 0 !important;
}

.no-pr {
  padding-right: 0 !important;
}

.no-pr {
  padding-right: 0 !important;
}

.no-text {
  font-size: 0px !important;
  line-height: 0px !important;
  text-indent: -9999px !important;
}

/* 간격 */
.mgt0 {
  margin-top: 0px !important;
}

.mgt5 {
  margin-top: 5px !important;
}

.mgt10 {
  margin-top: 10px !important;
}

.mgt15 {
  margin-top: 15px !important;
}

.mgt20 {
  margin-top: 20px !important;
}

.mgt30 {
  margin-top: 30px !important;
}

.mgt40 {
  margin-top: 40px !important;
}

.mgt50 {
  margin-top: 50px !important;
}

.mgt60 {
  margin-top: 60px !important;
}

.mgt70 {
  margin-top: 70px !important;
}

.mgt80 {
  margin-top: 80px !important;
}

.mgt90 {
  margin-top: 90px !important;
}

.mgt100 {
  margin-top: 100px !important;
}

.mgb0 {
  margin-bottom: 0px !important;
}

.mgb5 {
  margin-bottom: 5px !important;
}

.mgb10 {
  margin-bottom: 10px !important;
}

.mgb15 {
  margin-bottom: 15px !important;
}

.mgb20 {
  margin-bottom: 20px !important;
}

.mgb30 {
  margin-bottom: 30px !important;
}

.mgb40 {
  margin-bottom: 40px !important;
}

.mgb50 {
  margin-bottom: 50px !important;
}

.mgb60 {
  margin-bottom: 60px !important;
}

.mgb70 {
  margin-bottom: 70px !important;
}

.mgb80 {
  margin-bottom: 80px !important;
}

.mgb90 {
  margin-bottom: 90px !important;
}

.mgb810 {
  margin-bottom: 100px !important;
}

.mgr0 {
  margin-right: 0px !important;
}

.mgr5 {
  margin-right: 5px !important;
}

.mgr10 {
  margin-right: 10px !important;
}

.mgr15 {
  margin-right: 15px !important;
}

.mgr20 {
  margin-right: 20px !important;
}

.mgr30 {
  margin-right: 30px !important;
}

.mgr40 {
  margin-right: 40px !important;
}

.mgr50 {
  margin-right: 50px !important;
}

.mgr60 {
  margin-right: 60px !important;
}

.mgr90 {
  margin-right: 90px !important;
}

.mgr100 {
  margin-right: 100px !important;
}

.mgl0 {
  margin-left: 0px !important;
}

.mgl5 {
  margin-left: 5px !important;
}

.mgl10 {
  margin-left: 10px !important;
}

.mgl15 {
  margin-left: 15px !important;
}

.mgl20 {
  margin-left: 20px !important;
}

.mgl30 {
  margin-left: 30px !important;
}

.mgl40 {
  margin-left: 40px !important;
}

.mgl50 {
  margin-left: 50px !important;
}

.mgl60 {
  margin-left: 60px !important;
}

.mgl90 {
  margin-left: 90px !important;
}

.mg1060 {
  margin-left: 100px !important;
}

.pdl0 {
  padding-left: 0px !important;
}

.pdl5 {
  padding-left: 5px !important;
}

.pdl10 {
  padding-left: 10px !important;
}

.pdl15 {
  padding-left: 15px !important;
}

.pdl20 {
  padding-left: 20px !important;
}

.pdl30 {
  padding-left: 30px !important;
}

.pdl40 {
  padding-left: 40px !important;
}

.pdl50 {
  padding-left: 50px !important;
}

.pdl60 {
  padding-left: 60px !important;
}


.file-upload {
  position: relative;
  overflow: visible;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.file-upload>input {
  display: none;
}

.file-upload>span {
  display: block;
  text-overflow: ellipsis;
  padding: 0 10px;
  padding-right: 84px;
  font-size: .933em;
  white-space: nowrap;
  overflow: hidden;
}

.file-upload>a.btn {
  position: absolute;
  width: 84px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  height: 26px;
  line-height: 24px;
  border-radius: 0 3px 3px 0;
}

.file-upload.big,
.file-upload.big>a.btn {
  height: 36px;
  line-height: 34px;
}

.numeric-input {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
}

.numeric-input input {
  width: 100%;
  height: 100%;
  text-align: left;
  border: solid 1px transparent;
  float: left;
  padding: 0 18px 0 5px;
  text-align: right;
}

.numeric-input input:hover,
.numeric-input input:focus {
  border-color: transparent !important;
}

.numeric-input .btn.up,
.numeric-input .btn.down {
  display: block;
  width: 15px;
  height: 50%;
  border-top: solid 1px #e5e5e5;
  position: absolute;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.numeric-input .btn.up:hover,
.numeric-input .btn.down:hover {
  background-color: #fcfcfc;
}

.search-keyword {
  border: solid 1px #caccda;
  height: 36px;
  line-height: 34px;
  position: relative;
  overflow: visible;
}

.search-keyword>input {
  height: 34px;
  width: 100%;
  box-sizing: border-box;
  line-height: 34px;
  font-size: .933em;
  border: none;
  padding-right: 80px;
  background-color: transparent;
}

.search-keyword>a.btn {
  position: absolute;
  width: 80px;
  text-align: center;
  top: -1px;
  right: -1px;
  bottom: -1px;
  height: 36px;
  border: none;
  line-height: 34px;
  background-color: #4255c7;
  border-radius: 0;
  color: #fff;
}

.search-keyword>a.btn:hover {
  border: none;
  background-color: #364bc5;
}

.datepicker {
  width: 90px;
}

/* a.btn */
a.btn {
  font-size: .867em;
  font-weight: 500;
  padding: 0 0.8em;
  border-radius: 3px;
  height: 28px;
  line-height: 26px;
  border: solid 1px #c7c7c7;
  background-color: #fff;
  transition: all 0.2s;
}

a.btn:hover {
  border-color: #71a2e8;
}

a.btn .fa {
  display: inline-block;
  margin-right: 0.5em;
}

a.btn.dark {
  border-color: transparent;
  background-color: #537aa2;
  color: #fff;
}

a.btn.dark:hover {
  border-color: transparent;
  background-color: #6286ca;
}

a.btn.small {
  height: 22px;
  line-height: 20px;
  background-color: #f1f5fb;
  border-color: #cfdbf0;
  font-size: .733em;
  color: #7b94c0;
}

a.btn.small:hover {
  border-color: #8caeea;
}

a.btn.big {
  font-size: .867em;
  height: 36px;
  line-height: 34px;
}

a.btn.color01 {
  background-color: #71a2e8 !important;
  border-color: transparent;
  color: #fff;
}

a.btn.color01:hover {
  background-color: #558fe2;
}

a.btn.color02 {
  background-color: #6dc77a !important;
  border-color: transparent;
  color: #fff;
}

a.btn.color02:hover {
  background-color: #4fb75e;
}

a.btn.color03 {
  background-color: #4255c7 !important;
  border-color: transparent;
  color: #fff;
}

a.btn.color03:hover {
  background-color: #364bc5;
}

a.btn.color04 {
  border-color: #71a2e8 !important;
  color: #71a2e8;
}

a.btn.color04:hover {
  background-color: #fbfdff;
}

a.btn.color05 {
  background-color: #55cbe0 !important;
  border-color: transparent;
  color: #fff;
}

a.btn.color05:hover {
  background-color: #32bdd6;
}

a.btn.color06 {
  background-color: #a3a3a3 !important;
  border-color: transparent;
  color: #fff;
}

a.btn.color06:hover {
  background-color: #999999;
}

a.btn.color07 {
  background-color: #eb977a !important;
  border-color: transparent;
  color: #fff;
}

a.btn.color07:hover {
  background-color: #e38565;
}

a.btn.color08 {
  background-color: #eb7aa2 !important;
  border-color: transparent;
  color: #fff;
}

a.btn.color08:hover {
  background-color: #e26390;
}

a.btn.shadow {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

a.btn>span.fa {
  vertical-align: baseline;
  text-align: center;
}

a.download {
  text-decoration: underline;
}

.btn-wrap {
  display: inline-block;
  overflow: visible;
}

.btn-wrap > * {
  float: left;
  margin-right: 0.5em;
}

.btn-wrap>label.tit {
  display: inline-block;
  line-height: 24px;
}

.btn-wrap > *:last-child {
  margin-right: 0;
}

.btn-wrap.right > * {
  margin-left: 0.5em;
  margin-right: 0;
}

.btn-wrap.right > *:last-child {
  margin-right: 0;
}

.btn-wrap.center > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-wrap.top {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-wrap-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.btn-wrap-table.bottom-fix {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-wrap-table>.btn-wrap {
  display: table-row;
}

.btn-wrap-table>.btn-wrap>a.btn {
  display: table-cell;
  margin-right: 0;
  float: none;
  border: none;
  border-radius: 0;
  height: 48px;
  line-height: 48px;
  font-size: .933em;
}

.btn-wrap.center {
  display: flex;
  justify-content: center;
}
.btn-wrap.center .btn {
  margin-right: 0;
}

/* 체크박스 */
p.checkbox,
p.radio {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

p.checkbox,
p.checkbox>*,
p.radio,
p.radio>* {
  display: inline-block;
  vertical-align: middle;
}

p.checkbox>input,
p.radio>input {
  display: none;
}

p.checkbox>span.ico,
p.radio>span.ico {
  width: 18px;
  height: 18px;
  border-radius: 0px;
  border: solid 1px #b8bec7;
  background-color: #dce0e7;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 6px;
  transition: all 0.2s;
  box-sizing: border-box;
}

p.radio>span.ico {
  border-radius: 50%;
}

p.checkbox.checked>span.ico,
p.radio.checked>span.ico {
  background-color: #001060;
  border: solid 1px transparent;
}

p.checkbox>label,
p.radio>label {
  font-size: .8em;
  color: #767676;
  cursor: pointer;
}

/* tab */
div.tab {
  position: relative;
  margin-bottom: 16px;
}

div.tab>ul {
  border-bottom: solid 1px #a9a9a9;
}

div.tab>ul li {
  float: left;
  margin-right: -1px;
  position: relative;
}

div.tab>ul li>a {
  display: block;
  text-align: center;
  min-width: 120px;
  height: 38px;
  line-height: 38px;
  margin-top: 2px;
  color: #868686;
  background-color: #fcfcfc;
  padding: 0 15px;
  transition: all .2s;
  border: solid 1px #d4d4d4;
  border-bottom: 0;
}

div.tab>ul li>a:hover {
  background-color: #f1f1f1;
}

div.tab>ul li.active {
  z-index: 1;
}

div.tab>ul li.active>a {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #5b5555;
  margin-top: 0;
  font-weight: 500;
  border-color: #a9a9a9;
  border-bottom-color: #fff;
}

div.tab>.btn-wrap {
  position: absolute;
  top: 0;
  right: 0;
}

div.tab>.btn-wrap>a.btn {
  height: 36px;
  line-height: 34px;
  font-size: .867em;
}

.tab-contents {
  display: none;
}

.tab-contents.active {
  display: block;
}

/* 상태값 */
span[class^=sta-] {
  box-sizing: border-box;
}
.sta-none {
  color: #c7c7c7;
}

.sta-normal {
  color: #7bb52f;
}

.sta-unusual {
  color: #f15f54;
}

.sta-caution {
  color: #f1c954;
}

.sta-skyblue {
  color: #06cfd1;
}

.sta-blue {
  color: #638bd5;
}

.sta-purple {
  color: #8537d5;
}

span.sta {
  height: 26px;
  line-height: 24px;
  font-size: .933em;
}

span.sta>span.fa {
  vertical-align: baseline;
  margin-right: 0.2em;
}

span.sta-unusual {
  line-height: 22px;
}

/* 셀렉트 버튼 */
a.btn.select {
  position: relative;
  z-index: 1;
}

a.btn.select>span.val {
  vertical-align: baseline;
}

a.btn.select>span.opt-group {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: calc(100% + 2px);
  border: solid 1px #c7c7c7;
  background-color: #fff;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  margin: 0 -1px;
  white-space: nowrap;
}

a.btn.select>span.opt-group>span.opt {
  display: block;
  padding: 0 5px;
  border-top: solid 1px #eee;
  transition: all 0.2s;
}

a.btn.select>span.opt-group>span.opt.selected {
  color: #fff;
  background-color: #71a2e8 !important;
}

a.btn.select>span.opt-group>span.opt:hover {
  background-color: #fafafa;
}

a.btn.select.active {
  height: auto !important;
  overflow: visible;
}

a.btn.select.active>span.opt-group {
  display: block;
}

a.btn.select.big {
  height: 35px;
  line-height: 35px;
  font-size: 1.2em;
}

a.btn.select.big:after {
  content: "\f107";
  font-family: "FontAwesome";
  margin-left: 0.3em;
}

a.btn.select.big>span.opt-group>span.opt {
  font-size: 0.9em;
}

/* toggle */
div.toggle {
  display: inline-block;
  vertical-align: middle;
}

div.toggle>a.btn {
  border-color: #dfdfdf;
  background-color: #fff;
  font-size: .933em;
  color: #767676;
  font-weight: normal;
  float: left;
  margin-right: 4px;
  position: relative;
}

div.toggle>a.btn:hover {
  z-index: 1;
  border-color: #71a2e8;
  color: #71a2e8;
}

div.toggle>a.btn:last-child {
  margin-right: 0;
}

div.toggle>a.btn.active {
  background-color: #4255c7;
  border-color: transparent;
  color: #fff;
  font-weight: 500;
}

div.toggle.divide3 {
  width: 100%;
}

div.toggle.divide3>a.btn {
  width: calc(33.33% - 4px);
  float: left;
  margin-right: 6px;
  text-align: center;
}

div.toggle.divide3>a.btn:nth-of-type(3n) {
  margin-right: 0;
}

div.toggle.divide3>a.btn {
  margin-bottom: 8px;
  border: solid 1px #caccda;
}

div.toggle.divide3>a.btn.active {
  border: 0;
}

div.toggle.block {
  display: block;
  width: 100%;
}

div.toggle.block>a.btn {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-bottom: 5px;
  text-align: center;
}

div.toggle.block>a.btn:last-of-type {
  margin-bottom: 0;
}

.search-box div.toggle>a.btn {
  font-size: .867em;
}

p.para {
  line-height: 1.5em;
}

/* layout */
html,
body {
  height: 100%;
  min-height: 100%;
}

#wrap {
  min-height: 100%;
}