@charset "utf-8";

body{
    font-size: 15px;
    font-family: "pretendard", "맑은 고딕", serif;
    font-weight: 400;
}

/* datepicker reset start */
.datepicker{
    width: 14%;
    /*z-index: 1000 !important;*/
    z-index: 2601 !important;
}

.datepicker-dropdown{
    z-index: 1000;
}
/* datepicker reset end */

/* tree checkbox start */
.jstree-default .jstree-closed > .jstree-ocl{
    background: url(../image/common/ico-plus.png) no-repeat center;
}

.jstree-default .jstree-open > .jstree-ocl{
    background: url(../image/common/ico-minus.png) no-repeat center;
}

.jstree-default .jstree-node{
    background-position: -291px -4px
}

.jstree-default .jstree-leaf > .jstree-ocl{
    background-position: -67px -4px;
}

.jstree-default .jstree-themeicon{
    background: url(../image/common/ico-tree-folder.png) no-repeat center;
}

.jstree-default .jstree-leaf .jstree-themeicon{
    background: url(../image/common/ico-tree-file.png) no-repeat center;
}
/* tree checkbox end */

.login-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/contents/img-background.png) no-repeat center / cover;
}

.login-container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo{
    margin-bottom: 30px;
}

.login-logo p:last-child{
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-weight: 600;
    font-size: 2.53em;
    letter-spacing: -4px;
}

.login-content{
    padding: 50px;
    border-radius: 24px;
    background: linear-gradient(0.45turn, #679CF5, #2459B3);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .15);
}

.login-content .tit{
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-weight: 600;
    font-size: 1.6em;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.login-content .form-control{
    height: 64px;
    font-size: 1.2em;
    border-radius: 12px;
    border: 0;
    background-position: left 20px center;
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-right: 30px;
}

.login-content .form-control.log-id{
    background-image: url(../image/common/ico-man.png);
}

.login-content .form-control.log-pw{
    background-image: url(../image/common/ico-rock.png);
}

.login-content .int-box{
    width: 100%;
}

.login-content .form-check-input{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.login-content .form-check-label{
    font-size: 1.07em;
    color: #fff;
}

.login-content .btn{
    width: 100%;
    height: 64px;
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    background: linear-gradient(0.45turn, #2C3D5B, #192233);
    border-radius: 12px;
}

.user-intro-content{
    display: flex;
    align-items: center;
    gap: 40px;
}

.user-intro-content a{
    width: 280px;
    height: 280px;
    border-radius: 22px;
    background: linear-gradient(0.45turn, #679CF5, #2459B3);
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .15);
    transition: all .4s;
}

.user-intro-content a:hover{
    transform: scale(110%);
}

.user-intro-content a img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 30px;
}

.inner{
    width: 100%;
    height: 100vh;
    position: relative;
}

.header{
    width: 100%;
    height: 60px;
    background: #2C3D5B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    z-index: 10000;
}

.user-wrap .header,
.user-wrap .footer{
    background-color: #283EAE;
}

.user-wrap .header .menu > li > a,
.user-wrap .utill,
.user-wrap .footer{
    color: #fff;
}

.user-wrap .header .menu > li:hover > a{
    background-color: #24BAC8;
}

.header .hd-ft{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .hd-ft .mobile-menu-btn{
    background: transparent;
    border: 1px solid #B5BBC5;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}

.header .hd-ft .mobile-menu-btn::before,
.header .hd-ft .mobile-menu-btn::after,
.header .hd-ft .mobile-menu-btn > span{
    content: '';
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s;
}

.header .hd-ft .mobile-menu-btn::before {
    margin-top: -6px;
}

.header .hd-ft .mobile-menu-btn::after {
    margin-top: 6px;
}

body.active .header .hd-ft .mobile-menu-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: 0;
}

body.active .header .hd-ft .mobile-menu-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin-top: 0;
}

body.active .header .hd-ft .mobile-menu-btn > span {
    left: -300px;
}

.header > ul{
    display: flex;
    align-items: center;
}

.header .menu{
    height: 100%;
}

.header .menu > li{
    height: 100%;
    position: relative;
}

.header .menu > li > a{
    height: 100%;
    padding: 0 30px;
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.header .menu > li:hover > a{
    background: #3372DB;
    color: #fff;
    font-weight: 500;
}

.header .menu > li > ul{
    position: absolute;
    width: 100%;
    padding: 15px;
    display: none;
    background-color: #f7f7f7;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .12);
}

.header .menu > li:hover > ul{
    display: block;
}

.header .menu > li > ul > li{
    margin-bottom: 8px;
}

.header .menu > li > ul li:last-child{
    margin-bottom: 0;
}

.header .menu > li > ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .93em;
}

.header .menu > li > ul li a::before{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #BFBFBF;
}

.header .menu > li > ul li a:hover{
    text-decoration: underline;
    font-weight: 600;
}

.utill{
    gap: 8px;
    color: #fff;
}

.utill a{
    color: #fff;
}

.utill b{
    margin-left: 5px;
    margin-right: 2px;
    color: #fff;
}

.utill > li > a{
    height: 32px;
    padding: 0 10px;
    font-size: .93em;
    border: 1px solid #B5BBC5;
    display: flex;
    align-items: center;
}

.utill > li.manager{
    margin-right: 10px;
}

.utill > li.manager::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    width: 24px;
    height: 24px;
    background: url(../image/common/ico-user.png) no-repeat;
}

.utill > li.alarm > a{
    width: 32px;
    padding: 0;
    background: url(../image/common/ico-bell.png) no-repeat center;
    position: relative;
}

.utill > li.alarm.dot > a > span{
    width: 8px;
    height: 8px;
    background-color: #E7380D;
    border-radius: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 4px;
    right: 4px;
}

.footer{
    width: 100%;
    height: 30px;
    color: #B5BBC5;
    font-size: .8em;
    background-color: #2C3D5B;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: fixed;
    bottom: 0;
}

.contents{
    width: 100%;
    height: calc(100% - 60px - 30px);
    overflow: auto;
    padding: 30px;
}

.contents .main-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contents .main-inner .box{
    border: 1px solid #BCBDBF;
}

.contents .main-inner .box .head{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #E6EBF2;
    border-bottom: 1px solid #BCBDBF;
}

.contents .main-inner .box .head > span:first-child{
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-weight: 600;
    font-size: 1.2em;
}

.contents .main-inner .box .head .add{
    color: #808080;
    font-size: 1.07em;
}

.contents .main-inner .cont-box{
    height: calc(100% - 50px);
}

.contents .main-inner .box .num-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.contents .main-inner .box .num-cont > ul{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.contents .main-inner .box .num-cont > ul:first-child{
    padding-right: 30px;
    border-right: 1px dashed #BCBDBF;
}

.contents .main-inner .box .num-cont > ul > li > ul{
    text-align: right;
}

.contents .main-inner .box .num-cont > ul > li > ul b{
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-size: 2em;
    margin-right: 5px;
}

.contents .main-inner .box .num-cont > ul > li > ul > li{
    color: #808080;
}

.contents .main-inner .box .num-cont > ul > li > ul > li:first-child{
    margin-bottom: 5px;
}

.contents .main-inner .box .num-cont > ul > li > ul > li:first-child b{
    color: #3372DB;
}

.contents .main-inner .box .num-cont > ul > li > ul > li:last-child b{
    color: #333;
}

.contents .main-inner .box .num-cont .tit{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 7px;
    font-weight: 600;
}

.contents .main-inner .box .num-cont .tit::before{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #333;
}

.contents .num-box{
    width: 100%;
    height: calc((100% - 30px - 30px) / 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents .num-box > div{
    width: calc((100% - 60px) / 3);
    height: 100%;
}

.contents .graph-box{
    width: 100%;
    height: calc((100% - 30px - 30px) / 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents .graph-box > div{
    width: calc((100% - 30px) / 2);
    height: 100%;
}

.lnb{
    position: fixed;
    left: -100%;
    top: 60px;
    width: 26%;
    min-width: 350px;
    height: calc(100% - 60px - 30px);
    background-color: #E6EBF2;
    box-shadow: 5px 0 6px rgba(0, 0, 0, .15);
    transition: all .5s;
    padding: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.active .lnb{
    left: 0;
}


.lnb > div{
    height: calc(100% - 60px - 10px);
    overflow-y: auto;
    padding-right: 10px;
}

.lnb > ul{
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px dashed #2C3D5B;
}

.lnb .utill a{
    background-color: #2C3D5B;
    color: #fff;
}

.lnb .utill .alarm{
    background-color: #2C3D5B;
}

.lnb .tit a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
    color: #2C3D5B;
}

.lnb .tit .arrow{
    width: 16px;
    height: 8px;
    background: url(../image/common/ico-arrow.png) no-repeat center;
}

.lnb .menu > li{
    margin-bottom: 20px;
}

.lnb .menu > li:last-child{
    margin-bottom: 0;
}

.lnb .menu > li > ul{
    margin-bottom: 10px;
    padding: 5px;
    display: none;
}

.lnb .menu > li > ul > li{
    margin-bottom: 8px;
}

.lnb .menu > li > ul > li > a::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0 0;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #BFBFBF;
}

.gd-inner{
    height: 100%;
}

.gd-inner .big-tit{
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-weight: 600;
    font-size: 1.33em;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.gd-inner .big-tit::before{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url(../image/common/ico-tit-deco.png) no-repeat center;
}

.sub-tit{
    font-size: 1.07em;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.sub-tit::before{
    content: '';
    display: block;
    width: 6px;
    height: 2px;
    background-color: #E7380D;
}

.srch-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    border: 1px solid #D1D1D1;
    padding: 10px 15px;
    margin-bottom: 20px;
    gap: 20px;
}

.srch-container .int-area{
    display: flex;
    align-items: center;
    gap: 15px;
}

.srch-container .int-area > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.srch-container .form-label{
    font-weight: 600;
    margin-bottom: 0;
    font-size: .93em;
    text-wrap: nowrap;
}

.srch-container .int-area .in-flx{
    display: flex;
    align-items: center;
    gap: 10px;
}

.srch-container .int-area .in-flx > li,
.srch-container .int-area .in-flx > div{
    display: flex;
    align-items: center;
}

.srch-container .int-area .in-flx > li.no-flx{
    display: block;
}

.srch-container .int-area .form-select,
.srch-container .int-area .form-control{
    height: 32px;
    font-size: .93em;
    border-radius: 0;
}

.srch-container .int-area .chk-box,
.srch-container .int-area .rd-box{
    background-color: #fff;
    border: 1px solid #D1D1D1;
    padding: 5px 10px;
}

.srch-container .int-area .chk-box .form-check-input{
    width: 14px;
    height: 14px;
    border-radius: 0;
    margin-top: 0;
    margin-right: 4px;
}

.srch-container .int-area .rd-box .form-check-input{
    width: 14px;
    height: 14px;
    margin-top: 0;
    margin-right: 4px;
}

.srch-container .int-area .chk-box .form-check-label{
    font-size: .93em;
}

.srch-container .int-area .form-control.dtpk,
.srch-container .int-area .form-control.mnpk,
.srch-container .int-area .form-control.wkpk {
    width: 128px;
    background: #fff url(../image/common/ico-calendar.svg) no-repeat right 10px center;
}
.srch-container .int-area .form-control.wkpk {
    width: 220px;
}

.btn{
    font-size: .93em;
    font-weight: 500;
    color: #fff;
    background: #808080;
    border-radius: 0;
}

.btn.blue{
    background-color: #3372DB;
}

.btn.navy{
    background-color: #2C3D5B;
}

.btn.green{
    background-color: #207244;
}

.btn.green.excel{
    background-color: #207244;
    background-image: url(../image/common/ico-excel.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 34px;
}

/* 이성민 : 자체 추가 */
.btn.user{
    background-size: 60%;
    border: 1px solid #2c3d5b;
    background-color: #fff;
    background-image: url(../image/common/ico-man.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 34px;
}

.btn.orange{
    background-color: #E7380D;
}

.btn.orange.cart{
    background-color: #E7380D;
    background-image: url(../image/common/ico-cart.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 34px;
}

.btn.gray{
    background-color: #808080;
}

.btn.blue:hover,
.btn.navy:hover,
.btn.orange:hover,
.btn.green:hover,
.btn.gray:hover{
    color: #fff;
}

.btn-box > button{
    margin-right: 10px;
}

.btn-box > button:last-child{
    margin-right: 0;
}

.btn-box-bottom{
    width: 100%;
    text-align: center;
}

.grid-top-comp-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.grid-top-comp-area.component-01{
    justify-content: right;
}

.grid-top-comp-area span{
    font-size: .93em;
}

.grid-continer{
    border: 1px solid #BCBDBF;
}

.dan-two-box{
    width: 100%;
    height: calc(100% - 30px - 10px);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow-y: auto;
}

.dan-two-box > div{
    width: calc((100% - 30px) / 2);
}

.dan-two-box .grid-continer{
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 20px;
}

.outside-int-box{
    display: flex;
    align-items: center;
    gap: 4px;
}

.outside-int-box .form-check-input{
    width: 14px;
    height: 14px;
    border-radius: 0;
    margin-top: 0;
}

.modal-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
}

.popup{
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, .3);
}

.popup .tit{
    width: 100%;
    padding: 15px;
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-weight: 500;
    font-size: 1.2em;
    background-color: #2C3D5B;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup.user-wrap .tit{
    background-color: #283EAE;
}

.popup .tit span{
    margin-top: 5px;
}

.popup .tit .x-btn{
    width: 26px;
    height: 26px;
    background: transparent url(../image/common/ico-x.png) no-repeat center;
}

.popup .container{
    padding: 30px;
}

.popup .container .txt{
    font-size: 1.07em;
}

.popup .container .int-box .form-label{
    font-size: .93em;
    font-weight: 600;
    margin-bottom: 5px;
}

.popup .container .int-box .form-control{
    height: 42px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 22px;
    /* 이성민 추가 */
    padding-right: 45px;
}

.popup .container .int-box .form-control.rock{
    background-image: url(../image/common/ico-rock.png);
}

.popup .container .int-box .form-control.user{
    background-image: url(../image/common/ico-man.png);
}

.popup .container .int-box .form-control.phone{
    background-image: url(../image/common/ico-phone.png);
}

.popup .container .int-box .form-control.email{
    background-image: url(../image/common/ico-email.png);
}

.popup .container .thumb-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.popup .container table{
    table-layout: auto;
}

.popup .container table td{
    border: 1px solid #BCBDBF;
    padding: 10px;
    /* 23.12.27 (이성민) 추가 */
    font-size: .9em !important;
}

/* 23.12.27 (이성민) 추가 */
.popup .container table td input,
.popup .container table td select{
    font-size: .9em !important;
}
/* 23.12.27 (이성민) 추가 */
.popup .container table td select{
    padding: 0 10px;
    width: 110px;
    min-height: calc(1.5em + 0.5rem + 2px);
}
.popup .container table td div{
    display: flex;
    gap: 10px;
}
.popup .container table td div label{
    line-height: 25px;
}
.popup .container table td div button{
    line-height: 13px;
}
.popup .dtpk{
    width: 128px;
    background: #fff url(../image/common/ico-calendar.png) no-repeat right 10px center;
}

.popup .container table td.hd{
    background-color: #E6EBF2;
    font-weight: 600;
}

.popup .container .thumb-list{
    padding: 10px;
    background: #fafafa;
    border: 1px solid #BCBDBF;
}

.popup .container .thumb-list li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.popup .container .thumb-list li:last-child{
    margin-bottom: 0;
}

.popup .container .thumb-list span:last-child{
    color: #999;
}

.popup .container .thumb-list a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.popup .container .thumb-list a:hover{
    text-decoration: underline;
}

.popup .container .thumb-list a::before{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #727b8d;
}

.popup .srch-container .int-area{
    flex-wrap: wrap;
}

.popup .two-cont-box > div:first-child{
    border-bottom: 1px dashed #808080;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.sorting-grid-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting-grid-box > div:first-child,
.sorting-grid-box > div:last-child{
    width: calc((100% - 110px)/2);
}

.sub-t-add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sub-t-add .sub-tit{
    margin-bottom: 0;
}

.sub-t-add span{
    color: #808080;
    font-size: .93em;
}

.arrow-btn-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.arrow-btn-box button{
    width: 30px;
    height: 30px;
    background: #2C3D5B url(../image/common/ico-triangle.png) no-repeat center;
}

.arrow-btn-box button:first-child{
    transform: rotate(-180deg);
}

.error-page{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error-page .img-box{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.error-page .img-box img{
    width: 160px;
    object-fit: cover;
}

.error-page p{
    text-align: center;
}

.error-page .big-txt{
    font-family: "GmarketSans", "맑은 고딕", serif;
    font-weight: 500;
    font-size: 1.2em;
}

/* 231226 ntj 추가 */
table.dataTable {
    width: calc(100% - 1px) !important;
}
table.html-table {
    width: calc(100% - 1px) !important;
    font-size: 1em;
    border-right: 1px solid #BCBDBF;
    table-layout: auto;
}
table.html-table thead th {
    background-color: #E6EBF2;
    text-align: center;
    border-top: 1px solid #BCBDBF;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border-left: 1px solid #BCBDBF;
}
table.html-table tbody tr > * {
    padding: 10px;
    border-bottom: 1px solid #BCBDBF;
    border-left: 1px solid #BCBDBF;
}
table.html-table tbody tr > th {
    background-color: #f9f9f9;
    font-weight: 600;
}
label + input[type=checkbox],
label + input[type=radio] {
    margin-left: 1em;
}
.result-container table th{
    border: 1px solid #D1D1D1;
    background-color: #F5F5F5;
    font-weight: 600;
    padding: 0 10px;
}

.result-container table td{
    border: 1px solid #D1D1D1 !important;
}

button.handle {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: .5rem;
    background-color: #797979;
    mask:url('../image/contents/handle.svg') 50% 50%/auto 14px no-repeat;
    -webkit-mask:url('../image/contents/handle.svg') 50% 50%/auto 14px no-repeat;
}

/* 231227 ntj 추가 */
.utill > li {
    position: relative;
}
.utill > li > ul {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4b5c77;
    padding:10px 0;
    white-space: nowrap;
    display: none;
}
.utill > li > ul > li > a {
    padding: 6px 20px 4px 20px;
    display: flex;
    justify-content: space-between;
    gap: .7em;
}
.utill > li > ul > li > a:hover {
    background-color: #3372DB;
}
.utill > li > ul > li > a > span {
    position: static;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    text-align: right;
}
.utill > li > ul > li > a > strong {
    vertical-align: baseline;
    text-align: right;
}

#wrap.user-wrap .utill > li > ul {
    background-color: #0f217b;
}

/* 20240105 ntj 추가 */
.header {
    z-index: 2000;
}
.modal-bg {
    z-index: 2500;
}
.popup {
    z-index: 2600;
}
.utill .timeout {
    margin-right: .4em;
}
.utill > li.timeout::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: -3px 7px 0 0;
    width: 24px;
    height: 24px;
    mask: url(../image/contents/ico-clock.svg) 50% 50%/100% auto no-repeat;
    -webkit-mask: url(../image/contents/ico-clock.svg) 50% 50%/100% auto no-repeat;
    background-color: #a2aab7;
}
.utill .timeout strong {
    margin-left: .4em;
}

/* 20240108 ntj 추가 */
.header .menu > li > ul {
    width: auto;
    min-width: 100%;
}
.header .menu > li > ul li a {
    white-space: nowrap;
}

/* 20240109 ntj 추가 */
.utill > li.play > a,
.utill > li.download > a {
    width: 32px;
    padding: 0;
    position: relative;

}
.utill > li.play > a::before,
.utill > li.download > a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mask: url('../image/contents/btn-play.svg') 51% 50%/54% auto no-repeat;
    -webkit-mask: url('../image/contents/btn-play.svg') 51% 50%/54% auto no-repeat;
    background-color: #fff;
}
.utill > li.download > a::before {
    mask-image: url('../image/contents/btn-download.svg');
    -webkit-mask-image: url('../image/contents/btn-download.svg');
}
.utill > li > ul {
    overflow: visible;
}
.utill > li > ul::before {
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 6px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #4b5c77;
    z-index: 1;
}
.utill > li > ul > li > a {
    position: relative;
    padding-left: 26px;
}
.utill > li > ul > li > a::before {
    content:"";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translate(0, -30%);
}
.header .menu > li > a {
    padding: 0 24px
}

/* 20240109 ntj 추가 */
.grid-top-comp-area .btn-wrap {
    position: relative;
}
.grid-top-comp-area .btn-wrap button:not(.basic) {
    height: 35px;
    width: 35px;
    padding-left: 0 !important;
    background-position: 50% 50% !important;
    position: relative;
}
.grid-top-comp-area .btn-wrap button.btn.excel::before {
    display: none;
}
.grid-top-comp-area .btn-wrap button.btn.user::before {
    display: none;
}
.grid-top-comp-area .btn-wrap button:not(.basic)::before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mask-position: 50% 50%;
    -webkit-mask-position: 50% 50%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #fff;
}
.grid-top-comp-area .btn-wrap button.btn.play::before {
    mask-image: url('../image/contents/btn-play-fill.png');
    -webkit-mask-image: url('../image/contents/btn-play-fill.png');
    mask-size: 40% auto;
    -webkit-mask-size: 40% auto;
}
.grid-top-comp-area .btn-wrap button.btn.download::before {
    mask-image: url('../image/contents/btn-download.svg');
    -webkit-mask-image: url('../image/contents/btn-download.svg');
    mask-size: 48% auto;
    -webkit-mask-size: 48% auto;
}
.grid-top-comp-area .btn-wrap button:not(.basic) + ul {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: 0;
    z-index: 2000;
    padding: 10px 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .12);
    display: none;
    margin-right: 0;
}
.grid-top-comp-area .btn-wrap button:not(.basic) + ul::before {
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 6px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #fff;
    z-index: 1;
}
.grid-top-comp-area .btn-wrap button:not(.basic) + ul > li > a {
    display: flex;
    white-space: nowrap;
    position: relative;
    padding: 6px 20px 4px 26px;
}
.grid-top-comp-area .btn-wrap button:not(.basic) + ul > li > a:hover {
    background-color: #f1f1f1;
}
.grid-top-comp-area .btn-wrap button:not(.basic) + ul > li > a::before {
    content:"";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #232327;
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translate(0, -30%);
}

/* 240118 ntj 추가 */
.bootstrap-datetimepicker-widget.usetwentyfour {
    width: 216px;
}
.bootstrap-datetimepicker-widget table.table-condensed {
    width: 100% !important;
}
.bootstrap-datetimepicker-widget table.table-condensed td {
    max-width: auto !important;
    width: 37px !important;
    height: 30px !important;
}
.bootstrap-datetimepicker-widget th.next::before {
    content:"»";
}
.bootstrap-datetimepicker-widget th.prev::before {
    content:"«";
}
.bootstrap-datetimepicker-widget td.today::before {
    display: none !important;
}