<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="theme-color" content="#2D316C" />
    <title>광주광역시 AI 영상 클리핑 시스템</title>
    <link rel="stylesheet" type="text/css" href="../share/css/lightslider.css">
    <link rel="stylesheet" type="text/css" href="../share/css/style.css">
    <script type="text/javascript" src="../share/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../share/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../share/js/placeholder.js"></script>
    <script type="text/javascript" src="../share/js/jquery.ellipsis.js"></script>
    <script type="text/javascript" src="../share/js/owl.carousel.js"></script>
    <script type="text/javascript" src="../share/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../share/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../share/js/jstree.js"></script>
    <script type="text/javascript" src="../share/js/swiper.min.js"></script>
    <script type="text/javascript" src="../share/js/ui.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="inner">
            <div class="header">
                <div class="hd-ft">
                    <button class="mobile-menu-btn"><span></span></button>
                    <a href="GJM-AICS-002-01.html" class="logo">
                        <img src="../share/image/contents/img-main-logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="#none">클립영상관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">현황통계관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">클리핑요청관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">이용자관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">이력관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">시스템관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="utill">
                    <li class="manager">관리자<b>홍길동</b>님</li>
                    <li class="alarm dot"><a href=""><span></span></a></li>
                    <li class="mypage"><a href="">내정보관리</a></li>
                    <li class="logout"><a href="">로그아웃</a></li>
                </ul>
            </div>
            <div class="contents"></div>
            <div class="footer">
                Copyright ⓒ 2024 Gwangju Metropolitan City. All Rights Reserved.
            </div>
        </div>
    </div>
    <div class="modal-bg"></div>
    <div class="popup">
        <div class="tit"><span>썸네일 조회</span><button class="x-btn" onclick="popClose('.popup')"></button></div>
        <div class="container">
            <div class="thumb-img">
                <img src="../share/image/contents/img-park.jpg" alt="썸네일 사진">
            </div>
            <div class="mgb20">
                <table>
                    <colgroup>
                        <col style="width: 20%;">
                    </colgroup>
                    <tr>
                        <td class="hd">식별개체</td>
                        <td>사람</td>
                    </tr>
                    <tr>
                        <td class="hd">B-BOX 좌표</td>
                        <td>TOP : 0.2 / BOTTOM : 0.4 / LEFT : 0.1 / RIGHT : 0.3</td>
                    </tr>
                    <tr>
                        <td class="hd">TIME STAMP</td>
                        <td>2023-11:30 00:00:15.288</td>
                    </tr>
                </table>
            </div>
            <ul class="thumb-list">
                <li>
                    <a>cctv_1_reqKey1_20230101.jpg</a><span>2023-11:30 00:00:15.288</span>
                </li>
                <li>
                    <a>cctv_2_reqKey1_20230101.jpg</a><span>2023-11:30 00:00:15.288</span>
                </li>
                <li>
                    <a>cctv_3_reqKey1_20230101.jpg</a><span>2023-11:30 00:00:15.288</span>
                </li>
                <li>
                    <a>cctv_4_reqKey1_20230101.jpg</a><span>2023-11:30 00:00:15.288</span>
                </li>
                <li>
                    <a>cctv_5_reqKey1_20230101.jpg</a><span>2023-11:30 00:00:15.288</span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>