<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="theme-color" content="#2D316C" />
    <title>광주광역시 AI 영상 클리핑 시스템</title>
    <link rel="stylesheet" type="text/css" href="../share/css/lightslider.css">
    <link rel="stylesheet" type="text/css" href="../share/css/style.css">
    <script type="text/javascript" src="../share/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../share/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../share/js/placeholder.js"></script>
    <script type="text/javascript" src="../share/js/jquery.ellipsis.js"></script>
    <script type="text/javascript" src="../share/js/owl.carousel.js"></script>
    <script type="text/javascript" src="../share/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../share/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../share/js/jstree.js"></script>
    <script type="text/javascript" src="../share/js/swiper.min.js"></script>
    <script type="text/javascript" src="../share/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../share/js/tui-pagination.js"></script>
    <script type="text/javascript" src="../share/js/ui.js"></script>
    <script>
        $(function() {
            // datatables 시작
            new DataTable('#grid', {
                // scrollY: 300,
                paging: false,
                searching: false,
                info: false
            } );
            // d atatables 끝

            // 트리 시작
            $('#jstree').jstree({
                'plugins': ['checkbox']
            });
            // 트리 끝
        });
    </script>
</head>
<body>
    <div id="wrap">
        <div class="inner">
            <div class="header">
                <div class="hd-ft">
                    <button class="mobile-menu-btn"><span></span></button>
                    <a href="GJM-AICS-002-01.html" class="logo">
                        <img src="../share/image/contents/img-main-logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="#none">클립영상관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">현황통계관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">클리핑요청관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">이용자관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">이력관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#none">시스템관리</a>
                        <ul>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                            <li><a href="">Depth 02</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="utill">
                    <li class="manager">관리자<b>홍길동</b>님</li>
                    <li class="alarm dot"><a href=""><span></span></a></li>
                    <li class="mypage"><a href="">내정보관리</a></li>
                    <li class="logout"><a href="">로그아웃</a></li>
                </ul>
            </div>
            <div class="contents">
                <div class="gd-inner">
                    <div class="big-tit">권한 관리</div>
                    <div class="dan-two-box">
                        <div>
                            <div class="srch-container">
                                <div class="int-area">
                                    <div>
                                        <label class="form-label">권한명</label>
                                        <input class="form-control" type="text" placeholder="최고 관리자" readonly style="width: 110px;">
                                    </div>
                                    <div>
                                        <ul class="in-flx chk-box">
                                            <li>
                                                <input class="form-check-input" type="checkbox" id="ck01">
                                                <label class="form-check-label" for="ck01">재생권한</label>
                                            </li>
                                            <li>
                                                <input class="form-check-input" type="checkbox" id="ck02">
                                                <label class="form-check-label" for="ck02">저장권한</label>
                                            </li>
                                            <li>
                                                <input class="form-check-input" type="checkbox" id="ck03">
                                                <label class="form-check-label" for="ck03">사용</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <button type="button" class="btn blue">검색</button><button type="button" class="btn gray">취소</button>
                                </div>
                            </div>
                            <table id="grid">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>권한명</th>
                                        <th>재생권한</th>
                                        <th>저장권한</th>
                                        <th>등록일</th>
                                        <th>사용</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="t-lft">최고관리자</th>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">2023.11.23. 12:00:00</td>
                                        <td class="t-ctr"><span class="sta sta-normal">사용</span></td>
                                    </tr>
                                    <tr>
                                        <th class="t-lft">시스템관리자</th>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">2023.11.23. 12:00:00</td>
                                        <td class="t-ctr"><span class="sta sta-normal">사용</span></td>
                                    </tr>
                                    <tr>
                                        <th class="t-lft">영상관리자</th>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">2023.11.23. 12:00:00</td>
                                        <td class="t-ctr"><span class="sta sta-normal">사용</span></td>
                                    </tr>
                                    <tr>
                                        <th class="t-lft">조회관리자</th>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">2023.11.23. 12:00:00</td>
                                        <td class="t-ctr"><span class="sta sta-normal">사용</span></td>
                                    </tr>
                                    <tr>
                                        <th class="t-lft">일반관리자</th>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">2023.11.23. 12:00:00</td>
                                        <td class="t-ctr"><span class="sta sta-normal">사용</span></td>
                                    </tr>
                                    <tr>
                                        <th class="t-lft">테스트관리자</th>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">○</td>
                                        <td class="t-ctr">2023.11.23. 12:00:00</td>
                                        <td class="t-ctr"><span class="sta sta-unusual">사용 안 함</span></td>
                                    </tr>
                                </tbody>
                            </table> <!-- 그리드 div -->
                        </div>
                        <div>
                            <div class="srch-container only-one-btn">
                                <label class="form-label">권한별 허용 메뉴 설정</label>
                                <button type="button" class="btn blue">저장</button>
                            </div>
                            <div class="grid-continer">
                                <div id="jstree">
                                    <ul>
                                        <li id="root">Depth 01
                                            <ul>
                                                <li class="group" id="groupA">Depth 02
                                                    <ul>
                                                        <li id="child1">Depth 03</li>
                                                        <li id="child2">Depth 03</li>
                                                    </ul>
                                                </li>
                                                <li class="group" id="groupB">Depth 02
                                                    <ul>
                                                        <li id="child3">Depth 03</li>
                                                        <li id="child4">Depth 03</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                Copyright ⓒ 2024 Gwangju Metropolitan City. All Rights Reserved.
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="../share/css/tui-custom.css" />
</html>