<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="theme-color" content="#2D316C" />
    <title>광주광역시 AI 영상 클리핑 시스템</title>
    <link rel="stylesheet" type="text/css" href="../share/css/lightslider.css">
    <link rel="stylesheet" type="text/css" href="../share/css/style.css">
    <script type="text/javascript" src="../share/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../share/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../share/js/placeholder.js"></script>
    <script type="text/javascript" src="../share/js/jquery.ellipsis.js"></script>
    <script type="text/javascript" src="../share/js/owl.carousel.js"></script>
    <script type="text/javascript" src="../share/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../share/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../share/js/jstree.js"></script>
    <script type="text/javascript" src="../share/js/swiper.min.js"></script>
    <script type="text/javascript" src="../share/js/ui.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="login-wrap">
            <div class="login-container">
                <div class="login-logo">
                    <a href="">
                        <p><img src="../share/image/contents/img-logo.png" alt="logo"></p>
                        <p>AI 영상 클리핑 시스템</p>
                    </a>
                </div>
                <div class="user-intro-content">
                    <a href="">
                        <img src="../share/image/common/ico-big-lock.png" alt="로그인">
                        <p>로그인</p>
                    </a>
                    <a href="">
                        <img src="../share/image/common/ico-pencil.png" alt="등록신청">
                        <p>등록신청</p>
                    </a>
                    <a href="">
                        <img src="../share/image/common/ico-search.png" alt="등록신청 확인하기">
                        <p>등록신청 확인하기</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>